<h1>Articles</h1>

<% @articles.each do |article| %>
<h2><%= link_to article.title, article_path(article) %></h2>
<p><%= article.content %></p>
<% end %>


<h2><%= link_to "add an article", new_article_path %></h2>
